*{
margin: 0;
padding: 0;
font-family: 'Courier New', Courier, monospace;


}

body{
height: 100vh;
width: 100vw;

}

.cabecalho {
background-color: aqua;
padding: 70px;




}

.menu-header{
display: flex;
justify-content: end;

}

.menu-header li{
list-style: none;
margin-left: 20px;

}

.menu-header li a{
text-decoration: none;
color: white;
font-size: 12px;



}

.menu-header a:hover{
color: blue;
transition: 0.8s;




}

#sessao{
padding: 15rem;
background: linear-gradient(180deg, #c0cdcf 8.33%, rgba(90,168,168)100%);

}

#sessao h1{
font-size: 3em;
color: rgba(0, 0, 0, 0.568);


}

#sessao p{


    font-size: 2.3em;
    margin: 20px 0;

}

#sessao button{
padding: 25px;
border-radius: 50px;
background-color: aquamarine;
width: 20em;
}
#sessao button a{

    text-decoration: none;
color: aquamarine;



}

#app{
padding: 15rem;
background-color:white ;
display: flex;
justify-content: space-around;

}


#app div button{

    padding: 25px;
    border-radius: 50px;
    background-color: aquamarine;
    width: 20em; 
}

#app button a{
    text-decoration: none;
    color:aquamarine
}

#app div img {
width:25rem ;
height: 25rem; ;
margin-left:70px ;
margin-top:-70px ;

}

#container{
padding: 15rem;
background-color: aquamarine;



}
#container h2{
font-size: 40px;
text-align: center;
color: blue;
margin-top: -20rem;
margin-bottom: 2rem;
}

#container p{
font-size: 1.4rem;
color: rgb(34,34,74);
margin-bottom: 40px;
text-align: justify;
}

.line{
width: 70%;
margin: 45px auto;

}

#container img{
width: 45rem;
margin-left: 20px;

}

#container-cofre{
    background: linear-gradient(180deg,#0c16a364 8.33%,rgba(5,39,101,0.745)100%),url(img/img cofre fundo.jpg);
}